@media screen and (max-width:767px) {
    .fade {
        transition: .2s ease-in-out;
        transform: translateY(20px)
    }

    .fade-scale {
        transition: .3s ease-in-out;
        transform: translate(5%, 10%) scale(.8)
    }
}

.post-list {
    margin: 0 10%;
    padding: 0;
    list-style: none
}

.post-list .post-title {
    margin: 10px 0 16px
}

.post-list .post-title a {
    color: #333;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 120%;
    font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
    transition: all .5s
}

.post-list-item {
    margin-bottom: 30px;
    padding: 20px;
    text-align: center
}

@media screen and (max-width:767px) {
    .post-list {
        margin: 0 -16px
    }

    .post-list-item {
        margin-bottom: 16px;
        padding: 0
    }

    .post-list-item .post-content p {
        font-size: .9em
    }
}

.article-card {
    padding: 20px 20px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 7px hsla(0, 0%, 91%, .25), -5px -5px 30px 7px hsla(0, 2%, 70%, .22);
    transition: .5s
}

.article-card:hover {
    box-shadow: 5px 5px 30px 15px hsla(0, 0%, 91%, .25), -5px -5px 30px 15px hsla(0, 2%, 70%, .22);
    transform: translateY(-4px)
}

.article-card .post-content {
    word-break: break-all;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc
}

.article-card .post-time {
    color: #ada8a8;
    font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
    line-height: 24px;
    opacity: .8
}

.article-card .post-footer {
    position: relative;
    margin: 0 -20px;
    padding: 12px 20px 8px
}

.article-card .post-title a {
    text-decoration: none;
    padding: .1em;
    border-radius: 3px;
    box-shadow: inset 0 -12px 0 0 #e2eafde0
}

@keyframes animation-show {
    0% {
        opacity: 0;
        transform: translateY(80px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animation-show {
    visibility: visible !important;
    opacity: 1;
    animation: animation-show .5s
}

@media screen and (max-width:767px) {
    .article-card {
        border-radius: 0
    }
}

.post-more {
    display: inline-block;
    overflow: visible;
    padding: 2px 14px 8px 16px;
    border: 0;
    text-decoration: none;
    font-size: 1em !important;
    transition: all .2s;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #999
}

.post-more span {
    position: relative;
    transition: .5s
}

@media screen and (max-width:1399px) {
    .post-more {
        font-size: 13px !important
    }
}

@media screen and (max-width:767px) {
    .post-more {
        font-size: 13px !important
    }
}

#page-nav {
    margin: 30px 0 0;
    text-align: center;
    font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif
}

#page-nav .inner {
    display: inline-block
}

#page-nav a,
#page-nav span {
    display: inline-block;
    overflow: hidden;
    margin: 0 6px 10px;
    border-radius: 3px;
    color: #858585;
    background-color: #f6f6f6;
    font-size: 14px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: .4s ease-in-out
}

#page-nav .current,
#page-nav a:active,
#page-nav a:hover {
    background: var(--theme-color);
    color: #fff
}

.imginside {
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url(https://cdn.jsdelivr.net/gh/zhuang9197/Resource-Silo/Image/Blog/R-C.gif);
    background-size: cover;
}

.avatar {
    .Yellow {
        display: block;
    }

    .Black {
        display: none;
    }

    &:hover {
        .Yellow {
            display: none;
        }

        .Black {
            display: block;
        }
    }
}

.information {
    font-weight: bold;
    color: black;

}

.bloghover {
    &:hover {
        box-shadow: 5px 5px 30px 15px hsla(0, 0%, 91%, .25), -5px -5px 30px 15px hsla(0, 2%, 70%, .22);
        transform: translateY(-4px)
    }
}

#main,
.container {
    position: relative;
    font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif
}

#main {
    left: 10%;
    width: 80%;
    padding-left: 0px;
    min-height: 100%;
    background-image: linear-gradient(180deg, #f5f1f1 30%, #eff1f3 45%, #f7f4ee 71%, #efefef 91%);
    transition: .4s ease-in-out
}

.body-wrap {
    padding: 30px 0 40px;
    min-height: 90vh
}

.container {
    margin: 0 auto;
    width: 98%
}

.container:after {
    display: table;
    clear: both;
    content: ""
}

#main.menuoff {
    padding-left: 0;
    transition: .4s cubic-bezier(.18, .81, .3, .89)
}

#main.show .container {
    width: 90%;
    max-width: 180px
}

@media screen and (max-width:1399px) {
    #main {
        padding-left: 0
    }

    #main.show .container {
        width: 80%
    }
}

@media screen and (max-width:991px) {
    .container {
        padding: 20px 16px;
        width: 80%
    }
}

@media screen and (max-width:767px) {
    #main {
        overflow-x: hidden;
        width: 100%
    }

    ::-webkit-scrollbar {
        display: none
    }
}

.post-title {
    margin: 0 0 16px
}

.post-meta {
    overflow: hidden;
    margin: 0 0 10px;
    color: #999;
    font-size: 1em;
    line-height: 19px
}

.post-meta a {
    color: #999
}

.post-meta .icon {
    margin-bottom: 10px
}

.post-meta i {
    margin: 0 4px
}

@media screen and (max-width:767px) {
    .post-meta {
        font-size: 12px
    }
}

#main.menuoff {
    padding-left: 0;
    transition: .4s cubic-bezier(.18, .81, .3, .89)
}

#main.show .container {
    width: 92%;
    max-width: 1800px
}

@media screen and (max-width:1399px) {
    #main {
        padding-left: 0
    }

    #main.show .container {
        width: 100%
    }
}

@media screen and (max-width:991px) {
    .container {
        padding: 20px 16px;
        width: 100%
    }
}

@media screen and (max-width:767px) {
    #main {
        overflow-x: hidden;
        width: 100%
    }

    ::-webkit-scrollbar {
        display: none
    }
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transform: translateZ(666px);
    min-height: 100%;
    width: 255px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    transition: .4s cubic-bezier(.18, .81, .3, .89)
}

#menu.hide {
    transform: translateX(-100%)
}

#menu.hide+#main #menu-toggle {
    opacity: 1;
    transition: all 1.3s
}

#menu.show {
    transform: translateX(0) translateZ(10000px)
}

#menu .inner {
    position: relative
}

#menu .brand-wrap {
    background-image: linear-gradient(0deg, #f5f1f1, var(--theme-color));
    background-size: 100% 100%
}

#menu .brand {
    margin-top: 25%;
    text-align: center
}

#menu .avatar {
    display: inline-block;
    overflow: hidden;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    box-shadow: 0 0 2px 3px hsla(0, 0%, 100%, .7), 0 0 30px 8px #f6f6f6
}

#menu .avatar img {
    transition: .4s ease-in-out
}

#menu .avatar img:hover {
    transition: all .2s .1s;
    transform: scale(1.2) rotate(5deg)
}

#menu .introduce {
    margin: .3em 0 0;
    font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#menu .introduce #name {
    color: #fff;
    font-weight: 700
}

#menu .introduce .statistics {
    border-top: 1px dashed #ccc
}

#menu .introduce .statistics ul {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: .3em !important;
    margin-top: .3em !important
}

#menu .introduce .statistics ul li {
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    border-right: 1px solid #d9d9d9;
    font-size: 12px;
    color: grey;
    list-style: none
}

#menu .introduce .statistics ul li:hover .total-link {
    transform: scale(1.1)
}

#menu .introduce .statistics .count {
    font-size: 16px;
    color: #333;
    line-height: 18px
}

#menu .introduce .statistics .total-link {
    font-size: 12px;
    color: grey;
    display: inline-block;
    transition: .2s linear
}

#menu .scroll-wrap {
    position: relative;
    overflow: hidden
}

#menu .nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e0e0e0;
    list-style: none;
    line-height: 2.85rem
}

#menu .nav .items {
    z-index: 1
}

#menu .nav .sliding-bar {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 0;
    width: 215px;
    height: 2.85rem;
    background: linear-gradient(-90deg, #f0f4fd 20%, #d5e3f7 80%);
    opacity: 0;
    transition: all .3s ease
}

#menu .nav li {
    padding: 0 20px
}

#menu .nav li .icon:not(.custom-caret-left) {
    position: absolute;
    top: 0;
    left: 45px;
    line-height: inherit
}

#menu .nav li .custom-caret-left {
    display: none
}

#menu .nav li.active .custom-caret-left {
    display: inline-block;
    padding-left: 25px;
    transform: scale(.8)
}

#menu .nav li span {
    position: relative;
    display: inline-block;
    transition: transform .3s
}

#menu .nav a {
    display: block;
    padding-left: 80px;
    color: #727272;
    text-decoration: none;
    line-height: inherit
}

#menu .nav:hover .sliding-bar {
    opacity: .7
}

#menu .nav:hover li a span {
    color: transparent;
    text-shadow: 0 0 1px #585858;
    opacity: .8
}

#menu .nav li:hover a span {
    color: #686767;
    text-shadow: #a09c9b 0 0 1px, #fffffb 0 0 1px, #fffffb 0 0 2px !important;
    opacity: 1;
    transform: scale(1.25)
}

#menu .nav-tool {
    padding: 10px 0;
    height: 5em;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

#menu .nav-tool .nav-tool-item {
    overflow: visible;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

#menu .nav-tool .nav-tool-item:after,
#menu .nav-tool .nav-tool-item:before {
    z-index: 999 !important;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out
}

#menu .nav-tool .nav-tool-item:before {
    padding: 0 5px;
    border-radius: 3px;
    background: #999;
    color: #fff;
    content: attr(data-title);
    white-space: nowrap;
    font-size: 12px;
    line-height: 24px
}

#menu .nav-tool .nav-tool-item:after {
    border: 6px solid transparent;
    content: ""
}

#menu .nav-tool .nav-tool-item:hover:after,
#menu .nav-tool .nav-tool-item:hover:before {
    visibility: visible;
    opacity: 1
}

#menu .nav-tool .nav-tool-item:after,
#menu .nav-tool .nav-tool-item:before {
    top: -10px;
    right: 50%
}

#menu .nav-tool .nav-tool-item:before {
    transform: translate(50%, 200%)
}

#menu .nav-tool .nav-tool-item:after {
    border-bottom-color: #999;
    transform: translate(50%, 300%)
}

#menu .nav-tool .nav-tool-item .icon {
    font-size: 1.6em;
    color: #6d819c
}

#menu .nav-tool .nav-tool-item:active .icon,
#menu .nav-tool .nav-tool-item:hover .icon {
    transition: all .2s;
    transform: scale(1.2) translateY(2px)
}

#menu .nav-tool .nav-tool-item:active .custom-exchange,
#menu .nav-tool .nav-tool-item:hover .custom-exchange {
    color: #fd5252;
    text-shadow: 0 0 6px hsla(8, 66%, 88%, .92) 0 0 30px rgba(255, 183, 161, .34), 0 0 12px hsla(0, 61%, 90%, .52), 0 0 21px hsla(14, 32%, 55%, .92), 0 0 34px hsla(27, 66%, 80%, .78), 0 0 54px hsla(34, 36%, 71%, .92)
}

#menu .nav-tool .nav-tool-item:active .custom-picker,
#menu .nav-tool .nav-tool-item:hover .custom-picker {
    color: #62b900;
    text-shadow: 0 0 6px rgba(205, 241, 187, .92) 0 0 30px rgba(175, 255, 161, .34), 0 0 12px rgba(137, 250, 114, .52), 0 0 21px hsla(93, 32%, 55%, .92), 0 0 34px rgba(190, 238, 171, .78), 0 0 54px rgba(154, 207, 157, .92)
}

#menu .nav-tool .nav-tool-item:active .custom-lightbulb,
#menu .nav-tool .nav-tool-item:hover .custom-lightbulb {
    color: #000;
    text-shadow: 0 0 6px hsla(0, 0%, 75%, .92) 0 0 30px rgba(211, 252, 253, .34), 0 0 12px hsla(0, 0%, 71%, .52), 0 0 21px hsla(14, 38%, 87%, .92), 0 0 34px hsla(24, 4%, 72%, .78), 0 0 54px hsla(38, 15%, 86%, .92)
}

@keyframes wobble-horizontal {
    16.65% {
        transform: translateX(6px)
    }

    33.3% {
        transform: translateX(-4px)
    }

    49.95% {
        transform: translateX(2px)
    }

    66.6% {
        transform: translateX(0)
    }

    83.25% {
        transform: translateX(1px)
    }

    to {
        transform: translateX(0)
    }
}

.links-of-author {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: .5em
}

.links-of-author-item {
    margin: 0 0 7px;
    transition: .2s ease
}

.links-of-author-item .icon-twitter {
    color: #2fb0ec
}

.links-of-author-item .icon-github {
    color: #666
}

.links-of-author-item .icon-telegram {
    color: #41aade
}

.links-of-author-item:hover {
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transition: background 1s
}

.links-of-author-item a {
    max-width: 216px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    overflow: visible
}

.links-of-author-item i {
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    fill: rgba(0, 0, 0, .5);
    background-color: rgba(230, 244, 249, .8);
    transition: all .3s ease-in-out;
    font-style: normal;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
    box-shadow: inset 0 10px 20px 3px #fff
}

.links-of-author-item i span {
    font-size: 12px;
    margin: 0 .2em;
    color: rgba(0, 0, 0, .5)
}

.bumpy-char {
    position: relative
}

#menu-toggle {
    opacity: 0
}

#menu-toggle:hover {
    will-change: transform, opacity
}

@media screen and (max-width:1399px) {
    #menu-toggle {
        opacity: 1 !important
    }

    #menu {
        z-index: 9999;
        background: #f6f6f6;
        box-shadow: none;
        transform: translateX(-100%) translateZ(9999px)
    }

    #menu .brand {
        margin-top: 5%
    }

    #menu .avatar img:hover {
        transform: none
    }
}

@media screen and (max-width:767px) {
    #menu .brand {
        padding-top: 20px;
        padding-bottom: 0
    }

    #menu .nav,
    #menu .nav a {
        line-height: 40px
    }

    #menu .nav a {
        height: 40px
    }

    #menu .nav .sliding-bar {
        display: none
    }

    #menu .nav-tool:active .icon,
    #menu .nav-tool:hover .icon {
        transform: scale(1) !important
    }

    #menu .nav-tool:active .custom-exchange,
    #menu .nav-tool:active .custom-lightbulb,
    #menu .nav-tool:active .custom-picker,
    #menu .nav-tool:hover .custom-exchange,
    #menu .nav-tool:hover .custom-lightbulb,
    #menu .nav-tool:hover.custom-picker{color:#6d819c!important;text-shadow:none}}

    .btnMenu{
        position: absolute;
        top: 1px;
        left: 100%;
        height: 20px;
        width: 20px;
    }

    .return{
        position: fixed;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 80px;
        z-index: 666;
        background-color: #ef6f6f;
        .returnBtn{
            text-align: center;
            vertical-align: middle;
        }


}


    .hidden{
        background-color:transparent;
        .returnBtn{
            display: none;
        }
    }




